@import url(DINish/dinish.css);

:root {
    --default-font: 'DINish', sans-serif;
    --font-size-base: 16px;
    --font-size-h1: 2rem;
    --white: #CECECE;
    --black: #222222;
}

body {
    background-color: var(--black);
    font-family: 'DINish', sans-serif !important;
    font-size: var(--font-size-base);
    color: var(--white);
}

h1 {
    font-size: var(--font-size-h1);
}