@import url('DIN-Pro.css');
@import url('FiraCode.css');

:root {
    /* fonts */
    --default-font: 'DIN Pro', sans-serif;
    --font-weight-base: 400;
    --font-size-base: 16px;
    --font-size-h1: 2rem;

    /* colours */
    --white: #CECECE;
    --black: #222222;
}

body {
    /* fonts */
    background-color: var(--black);
    font-family: var(--default-font) !important;
    font-style: normal;
    font-weight: 400;
    font-size: var(--font-size-base);
    color: var(--white);

    /* layout */
    margin: 20px;
}

h1 {
    font-size: var(--font-size-h1);
    font-weight: 600;
}